.header {
  display: flex;
  padding: 8px 48px;
  align-items: flex-end;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background-color: #A4C7DD;
  color: white;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}