div {
  margin-bottom: 10px;
}
.card-size {
    width: 400px;
    margin: 20px;
  }

.temperatures { 
  display: flex;
  flex-direction: column;
}

.max {
  font-size: 32px;
}

.min {
  font-size: 16px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.weatherStatus {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .card-size {
    width: 300px;
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .card-size {
    width: 300px;
    margin: 20px;
  }
}