div {
  margin-bottom: 10px;
}

.card-size {
    width: 400px;
    margin: 20px;
    border-radius: 16px;
    /* border-color: #F05514; */
    color: #000;
  }

.temperatures { 
  display: flex;
  flex-direction: column;
}

.max {
  font-size: 32px;
}

.min {
  font-size: 16px;
  color:  #6c757d;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.weatherStatus {
  display: flex;
  justify-content: center;
}

.period {
  font-size: 12px;
  color:  #6c757d;
}

@media screen and (max-width: 1300px) {
  .card-size {
    width: 300px;
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .card-size {
    width: 300px;
    margin: 20px;
  }
}