.home {
  display: flex;
  padding: 64px 16px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#mapid { height: 180px; }

.card-container {
  display: flex;
  margin-bottom: 0;
}

.map {
  width: 300px;
}

.source {
  font-size: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    justify-content: center;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card-size {
    width: 300px;
    margin: 20px;
  }
}