.timer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonTimer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 200px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary:disabled:hover {
  color: #fff;
  background-color: #e96913;
  border-color: #e96913;
}

.btn-primary:hover {
  color: #e96913;
  background-color: #fff;
  border-color: #e96913;
}