div {
  margin-bottom: 10px;
}

.card-size {
  position: relative;
  overflow: hidden;
  width: 400px;
  margin: 20px;
  border-radius: 16px;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .card-size:nth-child(1) { background: cornflowerblue; }
.card-size:nth-child(2) { background: salmon; }
.card-size:nth-child(3) { background: gray; } */

.card-size:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  transition: 2s;
  
  /* background: rgba(255, 255, 255, 0.13); */
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.card-size:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease-in-out;
}

.card-size:active:after {
  opacity: 0;
}

.temperatures { 
  display: flex;
  flex-direction: column;
}

.max {
  font-size: 32px;
}

.min {
  font-size: 16px;
  color:  #6c757d;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
}

.weatherStatus {
  display: flex;
  justify-content: center;
}

.period {
  font-size: 12px;
  color:  #6c757d;
}

.weatherState {
  color: #6c757d;
}

@media screen and (max-width: 1300px) {
  .card-size {
    width: 300px;
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .card-size {
    width: 300px;
    margin: 20px;
  }
}